{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Valassis plugin for Craft CMS 3.x
 *
 * Valassis index.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2018 Superbig
 * @link      https://superbig.co
 * @package   Valassis
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\valassis\\assetbundles\\valassis\\ValassisAsset") %}
{% do view.registerAssetBundle("superbig\\valassis\\assetbundles\\couponscpsection\\CouponsCPSectionAsset") %}
{% set docsUrl = "https://github.com/sjelfull/valassis/blob/master/README.md" %}
{% set title = "Coupons" %}
{% set pluginCpUrl = url('valassis') %}
{% set subnav = {
    "coupons": { label: "Coupons"|t('valassis'), url: url(pluginCpUrl ~ '/coupons') },
    "customers": { label: "Customers"|t('valassis'), url: url(pluginCpUrl ~ '/customers') },

} %}
{% set selectedSubnavItem = 'coupons' %}

{% set crumbs = [
    { label: "Valassis", url: url(pluginCpUrl) },
    { label: "Coupons"|t('valassis'), url: url(pluginCpUrl ~ '/coupons') },
] %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('valassis') }}</a>
    </div>
{% endset %}

{% block sidebar %}
    <nav>
        <ul>
            <li><a href="{{ url('valassis/coupons', { mode: 'all' }) }}" class="{{ mode == 'all' ? 'sel' }}"><span class="label">All coupons</span><span class="cpelementcount-pill">{{ count.all }}</span></a></li>
            <li><a href="{{ url('valassis/coupons', { mode: 'used' }) }}" class="{{ mode == 'used' ? 'sel' }}" ><span class="label">Used coupons</span><span class="cpelementcount-pill">{{ count.used }}</span></a></li>
            <li><a href="{{ url('valassis/coupons', { mode: 'unused' }) }}" class="{{ mode == 'unused' ? 'sel' }}" ><span class="label">Unused coupons</span><span class="cpelementcount-pill">{{ count.unused }}</span></a></li>
            {# <li class="heading"><span>Channels</span></li>#}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="no-coupons"{% if coupons %} class="hidden"{% endif %}>
        <p>{{ "No coupons exist yet."|t('valassis') }}</p>
    </div>

    {% if coupons %}
        <table class="data fullwidth" id="coupons">
            <thead>
            <tr>
                <th>PIN</th>
                <th>Consumer ID</th>
                <th>Site</th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for coupon in coupons %}
                {# @var coupon \superbig\valassis\models\CouponModel #}
                <tr>
                    <td>
                        <a href="{{ coupon.getCpEditUrl() }}">
                            {{ coupon.couponPin }}
                        </a>
                    </td>
                    <td>{{ coupon.consumerId }}</td>
                    <td>{{ coupon.getSite().name ?? '' }}</td>
                    <td class="thin">
                        <a class="delete icon" title="{{ 'Delete'|t('valassis') }}" role="button"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination-wrapper">
            {% include 'valassis/_pagination' with { paginator: paginator } %}
        </div>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#coupons',
    noObjectsSelector: '#no-coupons',
    deleteAction: 'valassis/coupons/delete'
    });
{% endjs %}
