{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Valassis plugin for Craft CMS 3.x
 *
 * Valassis index.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2018 Superbig
 * @link      https://superbig.co
 * @package   Valassis
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\valassis\\assetbundles\\valassis\\ValassisAsset") %}
{% do view.registerAssetBundle("superbig\\valassis\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/sjelfull/valassis/blob/master/README.md" %}
{% set title = "Imports" %}
{% set pluginCpUrl = url('valassis') %}

{% set subnav = {
    "coupons": { label: "Coupons"|t('valassis'), url: url(pluginCpUrl ~ '/coupons') },
    "customers": { label: "Customers"|t('valassis'), url: url(pluginCpUrl ~ '/customers') },

} %}
{% set selectedSubnavItem = 'imports' %}

{% set crumbs = [
    { label: "Valassis", url: url(pluginCpUrl) },
    { label: "Imports"|t('valassis'), url: url(pluginCpUrl ~ '/imports') },
] %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl ~ '/imports/new' }}" class="btn submit add icon">{{ "New import"|t('valassis') }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="no-imports"{% if imports %} class="hidden"{% endif %}>
        <p>{{ "No imports exist yet."|t('valassis') }}</p>
    </div>

    {% if imports %}
        <table class="data fullwidth" id="imports">
            <thead>
            <tr>
                <th>Date</th>
                <th>Coupons</th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for import in imports %}
                <tr data-id="{{ import.id }}" data-name="{{ import.dateCreated|t('valassis') }}">
                    <td>
                        <a href="{{ import.getCpEditUrl() }}">
                            {{ import.dateCreated }}
                        </a>
                    </td>
                    <td>{{ import.coupons | length }} coupons</td>
                    <td class="thin">
                        <a class="delete icon" title="{{ 'Delete'|t('valassis') }}" role="button"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#imports',
        noObjectsSelector: '#no-imports',
        deleteAction: 'valassis/import/delete'
    });
{% endjs %}
