{% if data is defined %}
    <table class="data fullwidth" id="imports">
        <thead>
        <tr>
            <th>PIN</th>
            <th>Consumer ID</th>
        </tr>
        </thead>
        <tbody>
        {% for line in data %}
            <tr>
                <td>
                    {{ line[0] }}
                </td>
                <td>{{ line[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="inputs hidden">
        {% for line in data %}
            {% set id = 'coupon-' ~ loop.index %}
            <input type="hidden" name="coupons[{{ id }}]" value="">
            <input type="hidden" name="coupons[{{ id }}][couponPin]" value="{{ line[0] }}">
            <input type="hidden" name="coupons[{{ id }}][consumerId]" value="{{ line[1] }}">
        {% endfor %}
    </div>
{% endif %}